header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1, h2 {
    text-align: center;
}

.car, article {
    margin: 1em 0;
}

#carForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#carList ul {
    list-style: none;
    padding: 0;
}

.body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1355px;
    margin: 0 auto;
  }
  
  .container,
  .container-fluid {
    width: 100%;
  }
  
  .header {
    font-size: 14px;
  }
  
  .nav-row {
    background-color: #383838;
    color: #888;
  }
  
  .nav-row a {
    color: #888;
    text-transform: uppercase;
  }
  
  .cars-section {
    background-color: #f3f3f3;
    border-top: #888 0.5px solid;
    border-bottom: #888 0.5px solid;
  }
  
  .car-container {
    width: 90%;
    margin: 0 auto;
  }
  
  .section-info {
    border-bottom: #888 0.5px solid;
  }
  
  .carndet img {
    width: 100%;
    height: 160px;
  }
  
  .carndet {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .details {
    padding: 15px 20px;
  }
  
  footer p {
    font-size: 12px;
  }
  .view,
  .new,
  .price p {
    color: #d35266;
    font-weight: 700;
  }

  .footer-top li {
    list-style: none;
  }
  
  .footer-top ul {
    padding: 0;
  }
  
  footer {
    color: #888;
  }
  
  .footer-icons i {
    padding-left: 20px;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #eaeaea;
    color: #222;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.home-content {
    max-width: 630px;
}

.home-content h1 {
    font-size: 50px;
    line-height: 1.2;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    font-size: 40px;
    color: #1743e3;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    font-size: 16px;
    margin: 15px 0 30px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.6s;
}

.btn:hover {
    background: transparent;
    color: #1743e3;
}

.home-img {
    position: relative;
    right: -7%;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
}

.home-img .rhombus {
    position: absolute;
    width: 70%;
    height: 100%;
    background: #eaeaea;
    border: 25px solid #CC5500;
    box-shadow: -15px 15px 15px rgba(0, 0, 0, .2);
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1.6s;
}

.home-img .rhombus img {
    position: absolute;
    top: 110px;
    left: -250px;
    max-width: 750px;
    transform: rotate(-45deg);
    opacity: 0;
    animation: car 1s ease forwards;
    animation-delay: 2s;
}

.home .rhombus2 {
    position: absolute;
    top: -25%;
    right: -25%;
    width: 700px;
    height: 700px;
    background: #CC5500;
    transform: rotate(45deg);
    z-index: -1;
    opacity: 0;
    animation: rhombus2 1s ease forwards;
}

/* KEYFRAMES ANIMATION */


@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideSci {
    0% {
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0px) rotate(45deg);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }
    
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes car {
    0% {
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }
    
    100% {
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }
}

@keyframes rhombus2 {
    0% {
        right: -40%;
        opacity: 0;
    }
    
    100% {
        right: -25%;
        opacity: 1;
    }
}

.chart-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.chart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.chart-container h2 {
    text-align: center;
    color: blue;
}

#pieChart {
    max-width: 300px;
    max-height: 300px;
}

